div.swatch {
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 8px;
}

div.swatch.selected {
	border: 2px solid red;
	border-radius: 5px;
	height: 74px;
	width: 74px;
}

div.container {
	width: 800px;
}

div#bracelet {
	margin: auto;
}

